{% extends "base/base.html" %}
{% load static %}
{% block content %}
    <body>
        {% if not user.is_authenticated %}
            <h1>
                <a href="{% url 'login' %}" class="unauth">Log-in</a>to view your analytics!
            </h1>
        {% else %}
            <table>
                <thead>
                    <tr>
                        <th>Month</th>
                        <th>Spending</th>
                    </tr>
                </thead>
                <tbody>
                    Total spent during the whole period: {{ total_spent }}
                </br>
                Total top-ups: {{ total_topup }}
                {% for transaction in total_spent_by_month %}
                    <tr>
                        <td>{{ transaction.month|date:"F Y" }}</td>
                        <td>{{ transaction.total_spent }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <table>
            <thead>
                <tr>
                    <th>Top merchants you shopped with</th>
                    <th>Total Spent</th>
                </tr>
            </thead>
            <tbody>
                {% for transaction in top_merchants %}
                    <tr>
                        <td>{{ transaction.description }}</td>
                        <td>{{ transaction.total_spent }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <table>
            <thead>
                <tr>
                    <th>Cashback you earned</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Cashback (in USD, at the time of transactions)</td>
                    <td>${{ total_cashback_usd }}</td>
                </tr>
                <tr>
                    <td>Cashback (in CRO)</td>
                    <td>{{ total_cashback_cro }}</td>
                </tr>
                <tr>
                    <td>Rebates (in USD, at the time of transactions)</td>
                    <td>${{ total_rebates_usd }}</td>
                </tr>
                <tr>
                    <td>Rebates (in CRO)</td>
                    <td>{{ total_rebates_cro }}</td>
                </tr>
                <tr>
                    <td>Stake rewards (in USD, at the time of transactions)</td>
                    <td>${{ total_stake_usd }}</td>
                </tr>
                <tr>
                    <td>Stake rewards (in CRO)</td>
                    <td>{{ total_stake_cro }}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>
                        <b>Total CRO earned</b>
                    </td>
                    <td>
                        <b>{{ total_overall_cro }} </b>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Total USD earned (at the time of transactions)</b>
                    </td>
                    <td>
                        <b>${{ total_overall_usd }}</b>
                    </td>
                </tr>
            </tfoot>
        </table>
    {% endif %}
</body>
{% endblock content %}
