{% extends "base/base.html" %}
{#{% load static%}#}
{% block content %}
    <body>
        <table>
            <thead>
                <tr>
                    <th>Timestamp</th>
                    <th>Description</th>
                    <th>Currency</th>
                    <th>Amount</th>
                    <th>To Currency</th>
                    <th>To Amount</th>
                    <th>Native Currency</th>
                    <th>Native Amount</th>
                    <th>Native Amount (USD)</th>
                </tr>
            </thead>
            <tbody>
                {% if transactions is not None %}
                    {% for transaction in transactions %}
                        <tr {% if transaction.native_amount < 0 %} style="color: lightcoral" {% else %} style="color: green" {% endif %}>
                            <td>{{ transaction.timestamp }}</td>
                            <td>{{ transaction.description }}</td>
                            <td>{{ transaction.currency }}</td>
                            <td>{{ transaction.amount|floatformat:2 }}</td>
                            <td>
                                {% if transaction.to_currency %}
                                    {{ transaction.to_currency }}
                                {% else %}
                                    &nbsp;
                                {% endif %}
                            </td>
                            <td>
                                {% if transaction.to_amount %}
                                    {{ transaction.to_amount }}
                                {% else %}
                                    &nbsp;
                                {% endif %}
                            </td>
                            <td>{{ transaction.native_currency }}</td>
                            <td>{{ transaction.native_amount|floatformat:2 }}</td>
                            <td>{{ transaction.native_amount_usd }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </body>
{% endblock content %}
